<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>my home</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="public/assets/images/logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-control="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-black fw-bold" aria-current="page"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-black fw-bold" aria-current="page" href="project">Add
                            project</a>
                    </li>
                    <li>
                        <a class="nav-link active text-black fw-bold" aria-current="page"
                            href="testimonial">My testimonial</a>
                    </li>
                </ul>
                <a href="contact" class="btn bg-black text-white px-1">Contact</a>
            </div>
        </div>
    </nav>
    <div class="container m-5">
        <h1 class="text-center text-white fw-bold ">Hello, welcome to my hut</h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card m-5 row justify-content-center " style="max-width: 540px;">
                    <span class="border border-4"></span>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="public/assets/images/jpg.jpeg" class="img-fluid rounded-start" alt="PROFIL">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-black fw-bold">GUSWANDI</h5>
                                <p class="card-text text-black fw-bold">Wibu adalah kata atau istilah yang biasa digunakan untuk
                                    julukan kepada seseorang yang sangat menyukai budaya Jepang. Namun, tingkat kesukaannya melebihi
                                    batas wajar, bahkan terkesan terobsesi dengan budaya Jepang. Umumnya wibu adalah orang-orang
                                    yang bukan berkewarganegaraan Jepang.
            
                                </p>
            
                                <a href="contact" class="btn bg-black text-white px-1">Contact</a>
            
                                <p>
                                <div class="social-media">
                                    <h5 class="fw-bold text-black w-10">Found Me On</h5>
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="public/assets/images/logo.png" alt=""/>
                <h2 class="fw-bold">HTML</h2>
                <p class="card-text text-white fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Veritatis sit iste! Similique, dignissimos maxime. 
                 Eos incidunt iusto ullam quis architecto repellendus animi suscipit?
                 </p>
                 <img src="public/assets/images/logo.png" alt=""/>
                 <h2 class="fw-bold">CSS</h2>
                 <p class="card-text text-white fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Veritatis sit iste! Similique, dignissimos maxime. 
                  Eos incidunt iusto ullam quis architecto repellendus animi suscipit?
                  </p>
                  <img src="public/assets/images/logo.png" alt=""/>
                  <h2 class="fw-bold">JAVA SCRIPT</h2>
                  <p class="card-text text-white fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Veritatis sit iste! Similique, dignissimos maxime. 
                   Eos incidunt iusto ullam quis architecto repellendus animi suscipit?
                   </p>
            </div>
        </div>
    </div>
    
    
    <div class="row ">
        <h3 class="fw-bold text-white  text-center bg-black w-10">MY PROJECT</h3>
        <div class="blog-list-item w-50 m-5">
            <div class="blog-image">

                <img class="center w-50" src="public/assets/images/meimei.jpg" alt="blog_img" />
            </div>
            <div class="blog-content">

                <button class="btn-edit text-white fw-bold bg-black">Edit Post</button>
                <button class="btn-delete text-black fw-bold">Delete Post</button>
                <a href="blog-detail"><button class="btn-edit text-white fw-bold bg-black">PROJECT
                        DETAIL</button></a>

                <h1>
                    <a class="text-white fw-bold" href="blog-detail" target="_blank">INI PROJECT SAYA TAUUU</a>
                </h1>
                <div class="detail-blog-content text-black fw-bold">
                    12 Jul 2021 22:30 WIB | GUSWANDI
                </div>
                <p class="fw-bold text-white">
                    Mei Mei Yap Ee Jan (musim 1-3) Yuki Tang Ying Sowk (musim 3-) yang bernama
                    lengkap Xiao Mei Mei adalah salah satu dari kawan Upin dan Ipin. Mei Mei merupakan keturunan
                    Tionghoa, dan beragama Konghucu. Walau begitu, Mei Mei tetap menasihati kawannya agar berpuasa.
                    Dia bertutur kata yang sopan. Mei Mei juga sahabat bersama Devi dan Susanti. Mei Mei adalah
                    seorang terpintar di kelas. Dia memakai kacamata besar ada masalah mata karena membaca buku
                    terlalu dekat sampai larut malam. Mei Mei memiliki paras wajah yang imut. Jika Mei Mei sekolah
                    di TK Kasih Sayang (Tadika Mesra), dia sebangku dengan Mail dan bercita-cita menjadi guru. Mei
                    Mei juga cenderung sering
                    mengulang dua kata menjadi dua kali dalam satu kalimat, khususnya Saya Suka, Saya Suka.
                </p>
            </div>
        </div>
    </div>
    <div class="row ">
        
        <div class="blog-list-item w-50 m-5">
            <div class="blog-image">

                <img class="center w-50" src="public/assets/images/meimei.jpg" alt="blog_img" />
            </div>
            <div class="blog-content">

                <button class="btn-edit text-white fw-bold bg-black">Edit Post</button>
                <button class="btn-delete text-black fw-bold">Delete Post</button>
                <a href="form-blog-detail.html"><button class="btn-edit text-white fw-bold bg-black">PROJECT
                        DETAIL</button></a>

                <h1>
                    <a class="text-white fw-bold" href="blog-detail" target="_blank">INI PROJECT SAYA TAUUU</a>
                </h1>
                <div class="detail-blog-content text-black fw-bold">
                    12 Jul 2021 22:30 WIB | GUSWANDI
                </div>
                <p class="fw-bold text-white">
                    Mei Mei Yap Ee Jan (musim 1-3) Yuki Tang Ying Sowk (musim 3-) yang bernama
                    lengkap Xiao Mei Mei adalah salah satu dari kawan Upin dan Ipin. Mei Mei merupakan keturunan
                    Tionghoa, dan beragama Konghucu. Walau begitu, Mei Mei tetap menasihati kawannya agar berpuasa.
                    Dia bertutur kata yang sopan. Mei Mei juga sahabat bersama Devi dan Susanti. Mei Mei adalah
                    seorang terpintar di kelas. Dia memakai kacamata besar ada masalah mata karena membaca buku
                    terlalu dekat sampai larut malam. Mei Mei memiliki paras wajah yang imut. Jika Mei Mei sekolah
                    di TK Kasih Sayang (Tadika Mesra), dia sebangku dengan Mail dan bercita-cita menjadi guru. Mei
                    Mei juga cenderung sering
                    mengulang dua kata menjadi dua kali dalam satu kalimat, khususnya Saya Suka, Saya Suka.
                </p>
            </div>
        </div>
    </div>
    <script src="public/js/index.js"></script>
    <script src="public/js/ajax.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>